<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.MybatisApplication.repository.mgrepository.MessOwnerRepository">

    <resultMap id="MessOwnerResultMap" type="com.demo.MybatisApplication.model.mgmodel.MessOwnerEntity">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="contactNumber" column="contact_number" />
        <result property="messId" column="mess_id" />
        <collection property="mess" column="id" resultMap="com.demo.MybatisApplication.repository.mgrepository.MessRepository.MessResultMap" ofType="com.demo.MybatisApplication.model.mgmodel.MessEntity"/>
    </resultMap>

    <select id="findAll" resultMap="MessOwnerResultMap">
        SELECT id, name, contact_number, mess_id
        FROM mess_owner
    </select>

    <insert id="save" parameterType="com.demo.MybatisApplication.model.mgmodel.MessOwnerEntity">
        INSERT INTO mess_owner (name, contact_number, mess_id)
        VALUES (#{name}, #{contactNumber}, #{messId})
    </insert>

</mapper>
