<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.MybatisApplication.repository.SubjectRepository" >
    <resultMap id="SubjectResultMap" type="com.demo.MybatisApplication.model.SubjectEntity">
        <id property="subjectId" column="subject_id" />
        <result property="name" column="subject_name" />
    </resultMap>

    <select id="selectSubjectById" resultMap="SubjectResultMap" parameterType="long">
        SELECT
        subject_id,
        subject_name
        FROM
        subjects
        WHERE
        subject_id = #{subjectId}
    </select>
</mapper>
