<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.MybatisApplication.repository.TeacherRepository">

    <resultMap id="TeacherResultMap" type="com.demo.MybatisApplication.model.TeacherEntity">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="age" column="age"/>
        <result property="email" column="email"/>

        <collection property="subjects" column="id" resultMap="SubjectResultMap" ofType="com.demo.MybatisApplication.model.SubjectEntity"/>
    </resultMap>

    <resultMap id="SubjectResultMap" type="com.demo.MybatisApplication.model.SubjectEntity">
        <id property="id" column="id" />
        <result property="name" column="name" />
<!--        <association property="teacher" resultMap="TeacherResultMap"/>-->
    </resultMap>

    <!--    Insert Teacher-->
    <insert id="saveTeacher" parameterType="com.demo.MybatisApplication.model.TeacherEntity" useGeneratedKeys="true" keyProperty="teacherId" keyColumn="teacher_id">
        INSERT INTO teacher (name, age, email)
        VALUES (#{name}, #{age}, #{email})
    </insert>

    <!-- Get all teachers -->
    <select id="findAllTeachers" resultMap="TeacherResultMap" resultType="com.demo.MybatisApplication.model.TeacherEntity">
        SELECT * FROM teacher
    </select>

    <!-- Get teacher by ID -->
    <select id="findTeacherById" resultMap="TeacherResultMap" parameterType="Long">
        SELECT * FROM teacher WHERE id = #{id}
    </select>

    <select id="findSubjectsAssignedToTeacher" resultMap="SubjectResultMap">
        SELECT s.id, s.name, t.id, t.name, t.age, t.email
        FROM subject s
        INNER JOIN teacher t ON s.id = t.id
        WHERE s.id = #{id}
    </select>

    <select id="findTeachersSubjects" resultMap="SubjectResultMap">
        SELECT s.subject_id, s.name
        FROM subject s
        WHERE s.teacher_id = #{id}
    </select>

    <select id="getTeachersSubjects" resultMap="SubjectResultMap">
        SELECT s.subject_id, s.name
        FROM subject s
        WHERE s.teacher_id = #{teacherId}
    </select>

</mapper>
