<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.MybatisApplication.repository.TeacherRepository">

    <resultMap id="TeacherResultMap" type="com.demo.MybatisApplication.model.TeacherEntity">
        <id property="teacherId" column="teacher_id" />
        <result property="teacherName" column="teacher_name" />
        <result property="age" column="age"/>
        <result property="email" column="email"/>

        <collection property="subjects" column="subjectId" resultMap="com.demo.MybatisApplication.repository.SubjectRepository.SubjectResultMap" ofType="com.demo.MybatisApplication.model.SubjectEntity"/>
    </resultMap>

    <!--    Insert Teacher-->
    <insert id="addTeacher" parameterType="com.demo.MybatisApplication.model.TeacherEntity" useGeneratedKeys="true" keyProperty="teacherId" keyColumn="teacher_id">
        INSERT INTO teacher (teacher_name, age, email)
        VALUES (#{teacherName}, #{age}, #{email})
    </insert>


    <!-- Get all teachers -->
    <select id="getAllTeachers" resultMap="TeacherResultMap" resultType="com.demo.MybatisApplication.model.TeacherEntity">
        SELECT * FROM teacher
    </select>

    <!-- Get teacher by ID -->
    <select id="getTeacherById" resultMap="TeacherResultMap" parameterType="Long">
        SELECT * FROM teacher WHERE teacher_id = #{teacherId}
    </select>

    <select id="getTeacherStudents" resultMap="TeacherResultMap">
        SELECT s.subject_id, s.name, t.teacher_id, t.teacher_name, t.age, t.email
        FROM subject s
        INNER JOIN teacher t ON s.teacher_id = t.teacher_id
        WHERE s.teacher_id = #{teacherId}
    </select>

    <select id="getTeachersSubjects" resultMap="com.demo.MybatisApplication.repository.SubjectRepository.SubjectResultMap">
        SELECT s.subject_id, s.name
        FROM subject s
        WHERE s.teacher_id = #{teacherId}
    </select>

</mapper>
